.jian {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-wrap:wrap;
}
.jian-1,
.jian-2 {
  width: 500px;
  height: 50%;
}
.jian-1 {
  border: 1px solid red;
}
.jian-2 {
  border: 1px solid blue;
}
 .tab-bar > li {
  border: 1px solid grey;
  width: 100%;
}
 .tab-bar > li.selected {
  background: rgb(253, 221, 155);
  color: white;
}
.tab-bar {
    min-width: 100%;
}
  
 .jian-1  {
  display: none;
}
.jian-2  {
  display: none;
}
.active {
  display: block;
  background-color: red;
  color: white;
}

